@import url("patient_listing.css");
.input_container {
    width: 100%;
    float: left;
    padding-bottom: 2rem;
}
.input_field {
    width: 23.4%;
    float: left;
    margin-right: 2rem;
}
.input_field label {
    font-family: proxima-semibold;
    font-size: 1.6rem;
    color: #000;
    display: block;
    margin: 0;
    padding-bottom: 0.5rem;
}
.input_field input {
    width: 100%;
    border: 1px solid #cccccc6b;
    padding: 0.6rem 1rem;
    font-size: 1.7rem;
    outline: none;
    font-family: proxima-regular;
}
.input_field input::placeholder {
    color: #ccc;
}
.input_field button {
    width: 12rem;
    padding: 0.7rem;
    border: none;
    background: #23b4fb;
    font-family: proxima-regular;
    font-size: 1.6rem;
    color: #fff;
    outline: none;
    border-radius: 3px;
}
