@import url("lab_test_listing.css");

.search-container i {
    font-size: 2rem;
    color: #212c3e;
    vertical-align: middle;
    margin-left: 1rem;
    outline: none;

}

.search-container table tr td i {
    font-size: 2rem;
    color: #212c3e;
    vertical-align: middle;
    margin-left: 1rem;
    outline: none;
}

.search-container input {
    font-family: proxima-regular;
    font-size: 1.4rem;
    color: #000;
    padding: 0.3rem 1rem;
    outline: none;
    float: left;
}

.top_container {
    width: 100%;
    float: left;
    padding: 1rem 0;
    margin-bottom: 1rem;
    text-align: right;
}

.total_container {
    width: 100%;
    float: left;
    padding: 2rem 0;
}

.total_container .total {
    width: 50%;
    float: left;
    font-family: proxima-semibold;
    color: #000;
    font-size: 1.6rem;
}

.button_container {
    width: 50%;
    float: left;
}

.button_container button {
    font-family: proxima-semibold;
    background: #23b4fb;
    border: none;
    font-size: 1.5rem;
    color: #fff;
    padding: .5rem 3rem;
    border-radius: 2px;
    outline: none;
    float: right;
    margin-left: 2rem;
}

.print_me {
    display: none;
}

.title {
    font-family: proxima-semibold;
    font-size: 1.8rem;
    margin: 1rem 0;
    color: #000;
    text-align: center;
}
