h3 {
    margin: 0;
    font-family: proxima-semibold;
    font-size: 2rem;
    color: #212c3e;
    text-align: left;
    display: inline-block;
}

.content-section {
    width: 100%;
    float: left;
}

.content {
    width: 100%;
    float: left;
    box-shadow: 0 0 8px #19191912;
    padding: 3rem 2rem;
}

.content p {
    margin: 0;
    font-family: proxima-semibold;
    font-size: 1.9rem;
    color: #23b4fb;
    display: inline-block;
    text-align: right;
    float: right;
}
