@import url("add_patient.css");

.input_field label {
    font-family: proxima-semibold;
    font-size: 1.4rem;
    color: #4848487a;
    display: block;
    margin: 0;
    padding-bottom: 0.5rem;
    font-weight: normal;
}

.content-section {
    padding: 2.5rem;
}

.input_field input {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.input--field {
    margin-right: 0;
}

.input_field select {
    width: 100%;
    border: 1px solid #cccccc6b;
    padding: 0.6rem 1rem;
    font-size: 1.5rem;
    outline: none;
    font-family: proxima-regular;
}

.input_field textarea {
    width: 100%;
    border: 1px solid #cccccc6b;
    padding: 0.6rem 1rem;
    font-size: 1.5rem;
    outline: none;
    font-family: proxima-regular;
    resize: none;
}

.textarea--field {
    margin-right: 0;
    width: 48.8%;
}

.section-heading {
    margin: 0;
    font-family: proxima-bold;
    font-size: 1.7rem;
    color: #000;
    padding-bottom: 1.6rem;
}

.input_field4 {
    width: 100%;
}

.input_field4 button {
    width: 12rem;
    padding: 0.7rem;
    border: none;
    background: #23b4fb;
    font-family: proxima-regular;
    font-size: 1.6rem;
    color: #fff;
    outline: none;
    border-radius: 3px;
    margin-right: 2rem;
    margin-top: 3rem;
}

.table {
    width: 80%;
    border: 1px solid #000;
}
