@import url("patient_listing.css");
.health_container {
    width: 100%;
    float: left;
    box-shadow: 0 0 4px 0px #e6e6e6;
    padding: 1.5rem;
    margin-bottom: 2.5rem;
    border-radius: 3px;
}
.health_container h3 {
    margin: 0;
    font-family: proxima-semibold;
    font-size: 2.1rem;
    color: #333;
    padding: 1rem 0;

    position: relative;
}
.health_container h3 span {
    width: 80%;
    float: left;
}
.health_container p {
    margin: 0;
    width: 20%;
    float: left;
}
md-switch:last-of-type {
    margin: 0;
    /* position: absolute;
    top: 0;
    right: 1rem; */
}
md-switch.md-checked.md-primary .md-thumb {
    background-color: rgb(35, 180, 251);
}
md-switch.md-checked.md-primary .md-bar {
    background-color: rgba(35, 180, 251, 0.21);
}
.health_container p i {
    float: right;
    font-size: 2rem;
    outline: none;
    cursor: pointer;
}
.modal-dialog {
    width: 40rem;
    margin: 10% auto;
}
.modal-content {
    border-radius: 0;
}
.modal-header {
    border-bottom: none;
}
.input_container {
    width: 100%;
    display: inline-block;
    padding: 1rem 2rem;
}
.input_container label {
    font-family: proxima-semibold;
    font-size: 1.6rem;
    color: #000;
    display: block;
    margin: 0;
    padding-bottom: 0.5rem;
}
.input_container input {
    width: 100%;
    border: 1px solid #cccccc6b;
    padding: 0.6rem 1rem;
    font-size: 1.7rem;
    outline: none;
    font-family: proxima-regular;
}
.input_container button {
    width: 10rem;
    padding: 0.5rem;
    border: none;
    background: #23b4fb;
    font-family: proxima-regular;
    font-size: 1.6rem;
    color: #fff;
    outline: none;
    border-radius: 3px;
    margin-top: 2rem;
}
.health_container label {
    font-family: proxima-regular;
    font-weight: normal;
    font-size: 1.7rem;
    color: #9c9c9c;
    display: inline-block;
}
.health_container i {
    float: right;
    color: #c1c1c1;
    font-size: 1.3rem;
}
