@import url('bill.css');

.button_container {
    width: 100%;
}

.get {
    float: left;
    background: #23b4fb;
    border: none;
    font-family: proxima-regular;
    color: #fff;
    font-size: 1.6rem;
    padding: .4rem 2rem;
    margin-left: 1rem;
    border-radius: 2px;
}

.title {
    font-family: proxima-semibold;
    font-size: 1.8rem;
    margin: 1rem 0;
    color: #000;
    text-align: center;
}
