@import url("patient_list.css");
@import url("patient_listing.css");
.input_container select {
    width: 100%;
    border: 1px solid #cccccc6b;
    padding: 0.6rem 1rem;
    font-size: 1.5rem;
    outline: none;
    font-family: proxima-regular;
}
md-switch:last-of-type {
    margin: 0;
    /* position: absolute;
    top: 0;
    right: 1rem; */
    display: inline-block;
}
md-switch.md-checked.md-primary .md-thumb {
    background-color: rgb(35, 180, 251);
}
md-switch.md-checked.md-primary .md-bar {
    background-color: rgba(35, 180, 251, 0.21);
}
