.login_container {
    width: 40rem;
    float: left;
    box-shadow: 0 0 10px #b9b9b98c;
    position: absolute;
    top: 50%;
    padding: 2rem 4rem;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input_field {
    width: 100%;
    float: left;
    padding-bottom: 1.5rem;
}

.input_field label {
    font-weight: normal;
    font-family: proxima-semibold;
    color: #000;
    width: 100%;
    padding-bottom: 1rem;
    margin: 0;
    font-size: 1.6rem;
}

.input_field input,
select {
    width: 100%;
    padding: 0.6rem;
    font-size: 1.3rem;
    border: 1px solid #cccccc85;
    outline: none;
    color: #000;
}

.input_field input::placeholder {
    color: #ccc;
}

.input_field button {
    width: 100%;
    font-family: proxima-semibold;
    font-size: 1.6rem;
    border: none;
    color: #fff;
    background: #23b4fb;
    padding: 0.6rem;
    outline: none;
    margin-top: 1rem;
}

.input_field p {
    margin: 0;
    padding-top: 2rem;
    text-align: center;
    font-family: proxima-regular;
    font-size: 1.5rem;
    color: #ccc;
}

.input_field p a {
    text-decoration: none;
}

#register {
    color: #23b4fb;
    font-family: proxima-semibold;
    font-size: 1.5rem;
}

.logo {
    width: 100%;
    float: left;
    padding: 4rem;
    text-align: center;
}

.logo h3 {
    font-family: proxima-bold;
    font-style: italic;
    font-size: 2.5rem;
    margin: 0;
    color: #23b4fb;
}

.input__field {
    width: 48%;
    float: left;
}

.input__field2 {
    width: 48%;
    float: right;
}
