* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    float: left;
}

.sidebar {
    width: 18%;
    float: left;
    height: 100vh;
    background-color: #212c3e;
    overflow: auto;
}

/* ul li {
    background: #23B4FB;
} */

.main-section {
    width: 82%;
    float: left;
}

header {
    width: 100%;
    float: left;
    position: relative;
}

.profile-container {
    width: 100%;
    float: left;
    padding: 1rem;
    text-align: right;
    box-shadow: 1px 1px 4px 0px #69696930;
    cursor: pointer;
    outline: none;
}
.profile-dropdown-container {
    width: auto;
    display: inline-block;
}
.profile_photo {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: inline-block;
    background-color: #23b4fb;
    vertical-align: middle;
    margin-right: 0.5rem;
    text-align: center;
    line-height: 4.2rem;
    font-family: proxima-semibold;
    color: #fff;
    font-size: 1.7rem;
}

.admin_name {
    font-family: proxima-regular;
    font-size: 1.6rem;
    color: #212c3e;
    display: inline-block;
    position: relative;
    padding-right: 1.9rem;
}

.admin_name::before {
    content: "\e901";
    position: absolute;
    font-family: icomoon;
    right: 0;
    font-size: 1.2rem;
    top: 50%;
    transform: translateY(-50%);
}

.logo-holder {
    width: 100%;
    float: left;
    padding: 1rem;
}

.sidebar ul {
    list-style: none;
    width: 100%;
    text-align: center;
}

.sidebar ul li {
    display: inline-block;
    width: 80%;
    margin: 0.8rem;
}

.sidebar ul li a {
    text-decoration: none;
    color: #fdfdfda1;
    display: block;
    padding: 1.2rem;
    border-radius: 3px;
    font-family: proxima-regular;
    font-size: 1.8rem;
    text-align: left;
    position: relative;
    padding-left: 4.6rem;
}

.sidebar ul li a::before {
    content: "";
    font-family: icomoon;
    top: 50%;
    left: 5.8rem;
    font-size: 2.1rem;
    /* font-weight: 700; */
    transform: translateY(-50%);
    position: absolute;
}

.sidebar ul li a.patients::before {
    content: "";
    font-size: 2.5rem;
}

.sidebar ul li a.lab::before {
    content: "";
}

.sidebar ul li.active a {
    background: #23b4fb;
    color: #fff;
}

.content-container {
    width: 100%;
    float: left;
    height: 90.9vh;
    padding: 3rem;
    overflow: auto;
}

.content-heading {
    width: 100%;
    float: left;
    padding-bottom: 2.5rem;
}

.content-heading h3 {
    margin: 0;
    display: inline-block;
    font-family: proxima-semibold;
    float: left;
    font-size: 2.5rem;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
ul.proff {
    display: inline-block;
    background: #fff;
    padding: 1rem;
    position: absolute;
    top: 6rem;
    right: 0;
    list-style: none;
    font-size: 1.5rem;
    width: 19rem;
    box-shadow: 0 0 7px #7b7b7b2e;
    display: none;
    z-index: 1;
}
ul.proff li {
    display: block;
}
ul.proff li:hover {
    background: #23b4fb;
}
ul.proff li:hover a {
    color: #fff;
}
ul.proff li a {
    color: #23b4fb;
    font-family: proxima-regular;
    display: block;
    padding: 1rem;
    padding-left: 2rem;
    text-decoration: none;
    padding-left: 3rem;
}
.health {
    margin: 0;
    color: #fff;
    text-align: center;
    font-size: 2.5rem;
    font-family: proxima-semibold;
    font-style: italic;
    padding: 3rem 0;
}
