@import url('edit_patient.css');

.input_field input,
.input_field select,
.input_field textarea {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left: 0;
}
