@import url("main.css");

.content-section {
    width: 100%;
    float: left;

    box-shadow: 0 0 5px 0px #d6d6d6ab;
    padding: 4rem;
}

.content-heading button {
    margin: 0;
    font-family: proxima-regular;
    float: right;
    font-size: 1.6rem;
    color: #3db4fb;
    outline: none;
    padding: 0.3rem;
    border: none;
    padding-left: 2.5rem;
    position: relative;
    background: none;
}

.content-heading button::before {
    content: "\e902";
    font-family: icomoon;
    top: 52%;
    left: 7px;
    font-size: 1.2rem;
    font-weight: 700;
    transform: translateY(-50%);
    position: absolute;
}

.search-container {
    width: 100%;
    float: left;
}

.search-me {
    display: inline-block;
    position: relative;
}

.search-me input {
    font-family: proxima-regular;
    font-size: 1.5rem;
}

.search-container table thead tr th {
    font-family: proxima-regular;
    color: #fff;
    background: #212c3e;
    border-bottom: none;
    text-align: center;
    font-weight: 100;
    font-size: 1.6rem;
    border-right: 1px solid #ffffff1a;
    vertical-align: middle;
    padding: 1rem;
}

.search-container table thead tr th:last-child {
    border-right: none;
}

.search-container table tbody tr td {
    font-family: proxima-regular;
    color: #000;
    border-top: none;
    text-align: center;
    vertical-align: middle;
    padding: 1rem;
    font-size: 1.5rem;
    border-right: 1px solid #ecececb8;
    padding: 1rem;
}

.search-container table tbody tr td:last-child {
    border-right: none;
}

.search-container table tbody tr:nth-child(even) td {
    background-color: #f6f6f694;
}

.search-container table tr td i {
    font-size: 1.3rem;
    outline: none;
}

.get_me {
    font-family: proxima-semibold;
    background: #23b4fb;
    border: none;
    font-size: 1.4rem;
    color: #fff;
    padding: .5rem 2rem;
    border-radius: 2px;
    outline: none;
    margin-left: 1rem;
}

.search-container input {
    font-family: proxima-regular;
    font-size: 1.4rem;
    color: #000;
    padding: 0.3rem 1rem;
    outline: none;
}

table {
    margin-top: 2rem;
}
