@import url("user_listing.css");

.get_me {
    font-family: proxima-semibold;
    background: #23b4fb;
    border: none;
    font-size: 1.4rem;
    color: #fff;
    padding: .5rem 2rem;
    border-radius: 2px;
    outline: none;
    margin-left: 1rem;
}

.search-container input {
    font-family: proxima-regular;
    font-size: 1.4rem;
    color: #000;
    padding: 0.3rem 1rem;
    outline: none;
}

table {
    margin-top: 2rem;
}
