@import url("login.css");
.input_field textarea {
    width: 100%;
    padding: 0.6rem;
    font-size: 1.3rem;
    border: 1px solid #cccccc85;
    outline: none;
    color: #000;
    resize: none;
}
