@import url('user_listing.css');

.from_to {
    width: 50%;
    float: left;
}

.only_date {
    width: 50%;
    float: left;
    text-align: right;
}

.from_to button {
    border: none;
    background: #23b4fb;
    padding: .45rem 1.5rem;
    font-size: 1.5rem;
    font-family: proxima-regular;
    color: #fff;
    border-radius: 2px;
    outline: none;
}

.from_to input,
.only_date input {
    padding: .3rem 1rem;
}

.container_div {
    width: 100%;
    float: left;
    padding-top: 1rem;
}

.container_div h2 {
    font-family: proxima-semibold;
    font-size: 1.8rem;
    margin: 1rem 0;
    color: #000;
}


.main-tbl tr:last-child {
    border-bottom: none !important;

}

.filter_container {
    padding-bottom: 2rem;
}
