@import url("lab_test_listing.css");

md-switch:last-of-type {
    margin: 0;
    display: inline-block;
}

md-switch.md-checked.md-primary .md-thumb {
    background-color: rgb(35, 180, 251);
}

md-switch.md-checked.md-primary .md-bar {
    background-color: rgba(35, 180, 251, 0.21);
}

.modal-content {
    border-radius: 0;
}

.modal-header {
    border-bottom: none;
}

.input_container {
    width: 100%;
    display: inline-block;
    padding: 1rem 2rem;
}

.input_container label {
    font-family: proxima-semibold;
    font-size: 1.4rem;
    color: #4848487a;
    display: block;
    margin: 0;
    padding-bottom: 0.5rem;
    font-weight: normal;
}

.input_container input {
    width: 100%;
    border: 1px solid #cccccc6b;
    padding: 0.6rem 1rem;
    font-size: 1.5rem;
    outline: none;
    font-family: proxima-regular;
}

.input_container button {
    width: 10rem;
    padding: 0.5rem;
    border: none;
    background: #23b4fb;
    font-family: proxima-regular;
    font-size: 1.6rem;
    color: #fff;
    outline: none;
    border-radius: 3px;
}

.input_field {
    width: 48.1%;
    float: left;
    margin-right: 2rem;
}

.input--field {
    margin-right: 0;
}

.input_field textarea {
    width: 100%;
    border: 1px solid #cccccc6b;
    padding: 0.6rem 1rem;
    font-size: 1.5rem;
    outline: none;
    font-family: proxima-regular;
    resize: none;
}

.text_field {
    width: 100%;
}

.filter_container {
    width: 100%;
    float: left;
    padding: 1rem 0;
}

.filter_container input,
select {
    font-family: proxima-regular;
    font-size: 1.4rem;
    color: #000;
    padding: 0.5rem 1rem;
}

.filter_container input {
    padding: .3rem;
}
