@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?mm4oh0');
  src:  url('fonts/icomoon.eot?mm4oh0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?mm4oh0') format('truetype'),
    url('fonts/icomoon.woff?mm4oh0') format('woff'),
    url('fonts/icomoon.svg?mm4oh0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-minus:before {
  content: "\e903";
}
.icon-plus:before {
  content: "\e904";
}
.icon-pencil-edit-button:before {
  content: "\e900";
}
.icon-down-arrow:before {
  content: "\e901";
}
.icon-plus-symbol:before {
  content: "\e902";
}
