@font-face {
    font-family: 'proxima-light';
    src: url('ProximaNovaA-Light.eot');
    src: url('ProximaNovaA-Light.eot?#iefix') format('embedded-opentype'), url('ProximaNovaA-Light.woff2') format('woff2'), url('ProximaNovaA-Light.woff') format('woff'), url('ProximaNovaA-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-regular';
    src: url('ProximaNova-Regular.eot');
    src: url('ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('ProximaNova-Regular.woff2') format('woff2'), url('ProximaNova-Regular.woff') format('woff'), url('ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-bold';
    src: url('ProximaNova-Bold.eot');
    src: url('ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('ProximaNova-Bold.woff2') format('woff2'), url('ProximaNova-Bold.woff') format('woff'), url('ProximaNova-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-semibold';
    src: url('ProximaNovaA-Bold.eot');
    src: url('ProximaNovaA-Bold.eot?#iefix') format('embedded-opentype'), url('ProximaNovaA-Bold.woff2') format('woff2'), url('ProximaNovaA-Bold.woff') format('woff'), url('ProximaNovaA-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-black';
    src: url('ProximaNova-Black.eot');
    src: url('ProximaNova-Black.eot?#iefix') format('embedded-opentype'), url('ProximaNova-Black.woff2') format('woff2'), url('ProximaNova-Black.woff') format('woff'), url('ProximaNova-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}